<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Statistics</title>
</head>
<body>
    <h1>Statistics</h1>
    <div>
        <table  id="table-of-data", class="table-striped">
            <tr>
                <th class="text-center">Original URL</th>
                <th class="text-center">short URL</th>
                <th class="text-center">Creation Date</th>
                <th class="text-center">Redirect Counter</th>
            </tr>
            <% urlFormated.forEach((url)=>{ %>
                <tr>
                    <td class="original-URL"><a href=<%= url.original_URL %>><%= url.original_URL %></a></td>
                    <td class="new-URL"><%= url.new_URL %></td>
                    <td class="creationDate"><%= url.creationDate %></td>
                    <td class="redirectCount"><%= url.redirectCount %></td>
                </tr>
                <% }) %> 
        </table>
    </div>
</body>
</html>