<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Statistics</title>
</head>
<body>
    <h1>Statistics</h1>
    <div>
        <table  id="table-of-data">
            <tr>
                <th>Original URL</th>
                <th>short URL</th>
                <th>Creation Date</th>
                <th>Redirect Counter</th>
            </tr>
            <% urlFormated.forEach((url)=>{ %>
                <tr>
                   <td><a href=<%= url.original_URL %>><%= url.original_URL %></a></td>
                   <td><%= url.new_URL %></td>
                   <td><%= url.creationDate %></td>
                   <td><%= url.redirectCount %></td>
                </tr>
                <% }) %> 
        </table>
    </div>
</body>
</html>